<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../css/page-css.css" rel="stylesheet" th:href="@{/css/page-css.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../js/page-script.js" th:href="@{/js/page-script.js}"></script>

</head>
<div class="container">
    <form th:action="@{/getNumberOfDays}" th:object="${datesToCheckObject}" method="post">
        <div class="form-group">
            <label>Provide first date</label>
            <input class="form-control datepicker1" data-date-format="mm/dd/yyyy" th:field="*{startDate}" onkeypress="return false;"
                   autocomplete="off"/>

        </div>
        <div class="form-group">
            <label>Provide second date</label>
            <input class="form-control datepicker2" data-date-format="mm/dd/yyyy" th:field="*{endDate}" onkeypress="return false;"
                   autocomplete="off"/>
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>

    </form>

    <div class="alert alert-success" th:if="${numberOfDays != null}">
        <div th:text="'Number of days between dates: ' + ${numberOfDays}" />
    </div>

    <div class="alert alert-danger" th:if="${errorMessage == true}">
        <div th:text="#{errormessage.startafterenddate}" />
    </div>

</div>
</body>
</html>